@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext');
body {
    font-family: "Quicksand", sans-serif;
    line-height: 1;
    padding: 20px;
    background: white;
}

.auto-table {
    margin-top: 20px;
    display: grid;
    grid-gap: 25px;
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto;
    /*width: 100%;*/
}

.custom-margin {
    margin-top: 1.5cm;
}

.custom-margin h5{
    margin-top: 1cm;
}

/* Mobile */
@media (max-width: 767px) {
    #btnedit, #btndelete1, #btnend1, #btndelete2, #btnend2, #btndelete3, #btnsettle1, #btnsettle2, #btncancel1, #btncancel2, #btncancel3 {
        width: 150px;
        height: 40px;
        margin-bottom: 0.25cm;
    }
}

/* tablets */
@media (max-width: 991px) and (min-width: 768px) {
    #btnedit, #btndelete1, #btnend1, #btndelete2, #btnend2, #btndelete3, #btnsettle1, #btnsettle2, #btncancel1, #btncancel2, #btncancel3 {
        width: 200px;
        height: 40px;
    }
}

/* laptops and desktops --> min 1024px */
@media (min-width: 992px) {
    #btnedit, #btndelete1, #btnend1, #btndelete2, #btnend2, #btndelete3, #btnsettle1, #btnsettle2, #btncancel1, #btncancel2, #btncancel3 {
        width: 300px;
        height: 40px;
    }
}
