@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext');
body {
    font-family: "Quicksand", sans-serif;
    line-height: 1;
    padding: 20px;
    height: 100%;
    background: white;
}

.auto-table {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
}