@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext');
body {
    font-family: "Quicksand", sans-serif;
    line-height: 1;
    padding: 20px;
    height: 100%;
    background: #eee;
}
.changaCard-option {
    /*width: 32%;*/
    background: white;
    float: left;
    padding: 2%;
    text-align: center;
    transition: all .3s ease-in-out;
}
/*.changaCard-option:nth-child(even) {*/
/*margin: 0 2%;*/
/*}*/
.changaCard-option:hover {
    cursor: pointer;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
}
.changaCard-option:hover i,  .changaCard-option:hover h1,  .changaCard-option:hover span,  .changaCard-option:hover b {
    color: grey;
}

.changaCard-option:hover .front {
    opacity: 0;
    visibility: hidden;
}
.changaCard-option:hover .back {
    opacity: 1 !important;
    visibility: visible !important;
}
.changaCard-option:hover .back a.button {
    -webkit-transform: translateY(0px) !important;
    transform: translateY(0px) !important;
}
.changaCard-option hr {
    border: none;
    border-bottom: 1px solid #F0F0F0;
}
.changaCard-option i {
    font-size: 1rem;
    color: #D8D8D8;
    transition: all .3s ease-in-out;
}
.changaCard-option h1 {
    margin: 10px 0;
    color: #212121;
    transition: all .3s ease-in-out;
}
.changaCard-option p {
    color: #999;
    padding: 0 10px;
    line-height: 1.3;
}
.changaCard-option .price {
    position: relative;
}
.changaCard-option .price .front span.price {
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 20px;
    display: block;
    font-weight: 700;
    position: relative;
}
.changaCard-option .price .front span.price b {
    position: absolute;
    font-size: 1rem;
    margin-left: 2px;
    font-weight: 600;
}
.changaCard-option .price .back {
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
}
.changaCard-option .price .back a.button {
    background: grey;
    padding: 15px 20px;
    display: inline-block;
    text-decoration: none;
    color: white;
    position: absolute;
    font-size: 13px;
    top: -5px;
    left: 0;
    right: 0;
    width: 150px;
    margin: auto;
    text-transform: uppercase;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    transition: all .3s ease-in-out;
}

.changaCard-option .price .back a.button:hover {
    background: darkgrey;
}

@media screen and (max-width: 600px) {
    .changaCard-option {
        padding: 5%;
        width: 90%;
    }
    .changaCard-option:nth-child(even) {
        margin: 30px 0 !important;
    }
}