.modal-confirm-error {
    color: #636363;
    width: 325px;
}
.modal-confirm-error .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}
.modal-confirm-error .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
}
.modal-confirm-error h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
}
.modal-confirm-error .form-control, .modal-confirm-error .btn {
    min-height: 40px;
    border-radius: 3px;
}
.modal-confirm-error .close {
    position: absolute;
    top: -5px;
    right: -5px;
}
.modal-confirm-error .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
}
.modal-confirm-error .icon-box {
    color: #fff;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #ef513a;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm-error .icon-box i {
    font-size: 56px;
    position: relative;
    top: 4px;
}
.modal-confirm-error.modal-dialog {
    margin-top: 80px;
}
.modal-confirm-error .btn {
    color: #fff;
    border-radius: 4px;
    background: #ef513a;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
}
.modal-confirm-error .btn:hover, .modal-confirm-error .btn:focus {
    background: #da2c12;
    outline: none;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}