.auto-table {
    margin-top: 20px;
    /*display: table;*/
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    /*width: 100%;*/
}