@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext');
body {
    font-family: "Quicksand", sans-serif;
    line-height: 1;
    padding: 20px;
    height: 100%;
    background: white;
}
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    text-align: center;
}
.profile-img img{
    width: 40%;
    height: 20%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
    font-size: 25px;
}
.profile-head h6{
    color: #26B3BA;
    font-size: 20px;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    border: none;
    color: #000000;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #26B3BA;
    color: #26B3BA;
}
.profile-tab label{
    font-weight: 600;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    color: #000000;
}
.tab-content {
    width: 100%;
}
.profile-tab p {
    font-weight: 600;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    color: #000000;
}
.auto-table {
    margin-top: 20px;
    display: grid;
    grid-gap: 30px;
    /*
    grid-template-columns: repeat(4, 1fr);
    */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, 1fr);
}