@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,300italic,400italic,600,700,600italic,700italic);
body {
    color: #7a7a7a;
    background: #eee;
    font-family: "Josefin Sans", sans-serif;
    line-height: 1;
    padding: 20px;
    height: 100%;
}
.signup-form {
    width: 500px;
    margin: 0 auto;
    padding: 30px 0;
}
.signup-form h2 {
    color: #26B3BA;
    margin: 0 0 15px;
    text-align: center;
}
.signup-form form {
    border-radius: 1px;
    margin-bottom: 15px;
    background: white;
    border: 1px solid #f3f3f3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.signup-form .form-group {
    margin-bottom: 20px;
}
.signup-form label {
    font-weight: normal;
    font-size: 16px;
}
.signup-form .input-group-addon {
    max-width: 42px;
    text-align: center;
    background: none;
    border-width: 0 0 1px 0;
    padding-left: 5px;
}
.signup-form .btn {
    font-size: 16px;
    font-weight: bold;
    background: #26B3BA;
    border-radius: 3px;
    border: none;
    min-width: 140px;
    outline: none !important;
}
.signup-form .btn:hover, .signup-form .btn:focus {
    background: #26B3BA;
}
.signup-form a {
    color: #26B3BA;
    text-decoration: none;
}
.signup-form a:hover {
    text-decoration: underline;
}
.signup-form .fa {
    font-size: 13px;
}
.signup-form .fa-paper-plane {
    font-size: 13px;
}
.signup-form .fa-check {
    color: #fff;
    left: 9px;
    top: 18px;
    font-size: 7px;
    position: absolute;
}