@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext');
body {
    font-family: "Quicksand", sans-serif;
    color: #7a7a7a;
    background: #eee;
    line-height: 1;
    padding: 20px;
}
.signup-form {
    margin: 0 auto;
    padding: 30px 0;
    align-items: center;
}
.signup-form h2 {
    color: #26B3BA;
    margin: 0 0 15px;
    text-align: center;
}
.signup-form form {
    border-radius: 1px;
    margin-bottom: 15px;
    background: white;
    border: 1px solid #f3f3f3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.signup-form .form-group {
    margin-bottom: 20px;
    justify-items: center;
}
.signup-form .form-control {

}
.signup-form label {
    font-weight: normal;
    vertical-align: center;
    text-align: center;
    align-items: center;
    align-self: center;
}
.signup-form .input-group-addon {
    max-width: 42px;
    text-align: center;
    align-self: center;
    background: none;
    border-width: 0 0 1px 0;
    padding-left: 5px;
}
.signup-form .btn {
    font-weight: bold;
    background: #26B3BA;
    border-radius: 3px;
    border: none;
    outline: none !important;
    width: 50%;
}
.signup-form .btn:hover, .signup-form .btn:focus {
    background: #26B3BA;
}
.signup-form a {
    color: #26B3BA;
    text-decoration: underline;
}
.signup-form a:hover {
    text-decoration: none;
}
.signup-form .fa-check {
    color: #fff;
    left: 9px;
    top: 18px;
    position: absolute;
}

/* Mobile */
@media (max-width: 767px) {
    body {
        font-size: 3vw;
    }
    .signup-form {
        width: 90%;
        height: 600px;
    }
    form#signUpForm {
        width: 100%;
        height: 600px;
    }
    .signup-form .table-form {
        width: 100%;
        height: 80%;
    }
    .signup-form h2 {
        font-size: 5vw;
    }
    .signup-form label, .signup-form .btn {
        font-size: 3vw;
    }
    .signup-form .fa, .signup-form .fa-paper-plane {
        font-size: 3vw;
    }
    .signup-form .fa-check {
        font-size: 2.5vw;
    }
}

/* tablets */
@media (max-width: 991px) and (min-width: 768px) {
    body {
        font-size: 3vw;
    }
    .signup-form, form#signUpForm {
        width: 728px;
        height: 850px;
    }
    .signup-form .table-form {
        width: 100%;
        height: 80%;
    }
    .signup-form h2 {
        font-size: 5vw;
    }
    .signup-form label, .signup-form .btn {
        font-size: 3vw;
    }
    .signup-form .fa, .signup-form .fa-paper-plane {
        font-size: 3vw;
    }
    .signup-form .fa-check {
        font-size: 2.5vw;
    }
}

/* laptops and desktops --> min 1024px */
@media (min-width: 992px) {
    .signup-form {
        width: 50%;
    }
    form #signUpForm {
        width: 100%;
    }
    .signup-form .table-form {
        width: 100%;
    }
    .signup-form h2 {
        font-size: 2.5vw;
    }
    .signup-form label, .signup-form .btn {
        font-size: 1.5vw;
    }
    .signup-form .fa, .signup-form .fa-paper-plane {
        font-size: 1vw;
    }
    .signup-form .fa-check {
        font-size: 0.5vw;
    }
}

